<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Covid Tracker</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">
  <div class="ctx-container">
    <div class="ctx-stats">
      <div class="ctx-stats-scroll">
        <div class="ctx-stats-item">
          <h1>10,000</h1>
          <p>Total Confirmed</p>
        </div>
        <div class="ctx-stats-item">
          <h1>16,000</h1>
          <p>Total Recovered</p>
        </div>
        <div class="ctx-stats-item">
          <h1>20,000</h1>
          <p>Total Critical</p>
        </div>
        <div class="ctx-stats-item">
          <h1>20,000</h1>
          <p>Total Deaths</p>
        </div>
      </div>
    </div>
  </div>
</ion-content>
